[disabled]{
    background-color: red;
}
[placeholder="이름"]{
    background-color: orange;
}
/* [value="pw"]{
    background-color:blue;
}
[value="000-0000-0000"]{
    background-color:blue;
} */
input:not([placeholder]){
    background-color: blue;
}